<section class="contract ">
  <div class="container">
    <div class="d-flex align-items-center justify-content-between align-items-center">
      <h1 class="mb-0">Contract</h1>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink='/dashboard'>Dashboard</a></li>
          <li class="breadcrumb-item active" aria-current="page">Contract</li>
        </ol>
      </nav>

    </div>
    <div class="d-flex align-items-center justify-content-between  mt-4">
      <h6 class="mb-0">Total Contract : {{contracts.length}} </h6>
      <div class="d-flex  justify-content-between align-items-center">
        <mat-form-field appearance="outline" class=' mr-2 ml-2' style="font-size:11px">
          <input type="text" matInput [(ngModel)]='search' placeholder="Search" readonly
            onfocus="this.removeAttribute('readonly');">
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
        <button mat-raised-button class="default-button" (click)='openPopup()'>add Contract</button>
      </div>
    </div>


    <ng-container *ngIf='loadingSpinner'>
      <app-loading-spinner></app-loading-spinner>
    </ng-container>

    <ng-container *ngIf='!loadingSpinner'>
      <table class="table text-center section-layout">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">Name Owner</th>
            <th scope="col">Name Manager</th>
            <th scope="col">Date Visit</th>
            <th scope="col">Date From Contract</th>
            <th scope="col">date To Contract</th>
            <th scope="col">E-mail</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let contract of contracts'>
            <th scope="row">{{contract?.id}}</th>
            <td>{{contract?.nameOwner}}</td>
            <td>{{contract?.nameManager}}</td>
            <td>{{contract?.dateVisit}}</td>
            <td>{{contract?.dateFromContract}}</td>
            <td>{{contract?.dateToContract}}</td>
            <td>{{contract?.email}}</td>
            <td>
              <span class="material-icons mr-2" (click)='viewContractPopup(contract)'>
                visibility
              </span>
              <span class="material-icons" (click)='openPopup(contract)'>
                edit
              </span>
              <span class="material-icons mr-1 ml-1" (click)='deletePopup(contract)'>
                delete
              </span>
              <mat-slide-toggle [checked]="contract?.isActive" class="mr-2 ml-2"></mat-slide-toggle>
            </td>
          </tr>
        </tbody>
      </table>
    </ng-container>

  </div>
</section>
