@import '../../../../assets/style/shared/variables.scss';


header{
    padding: 15px;
    background-color: $main-color;
    h1 {
        font-size: $Size17;
        color:#fff;
        font-family: 'poppins-semiBold';
        margin: 0 5px;
        text-transform: capitalize;
    }
    .material-icons{
        color: #fff;
    }

}