<section class="admins ">
  <div class="container">
    <div class="d-flex align-items-center justify-content-between align-items-center">
      <h1 class="mb-0">Admins</h1>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink='/dashboard'>Dashboard</a></li>
          <li class="breadcrumb-item active" aria-current="page">Admins</li>
        </ol>
      </nav>

    </div>
    <div class="d-flex align-items-center justify-content-between  mt-4">
      <h6 class="mb-0">Total Admins : {{admins.length}} </h6>
      <div class="d-flex  justify-content-between align-items-center">
        <mat-form-field appearance="outline" class=' mr-2 ml-2'  style="font-size:11px">
          <input type="text" matInput [(ngModel)]='search' placeholder="Search" readonly
            onfocus="this.removeAttribute('readonly');">
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
        <button mat-raised-button class="default-button" (click)='openPopup()'>add admin</button>
      </div>
    </div>


    <ng-container *ngIf='loadingSpinner'>
      <app-loading-spinner></app-loading-spinner>
    </ng-container>

    <ng-container *ngIf='!loadingSpinner'>
      <table class="table text-center section-layout">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">Name</th>
            <th scope="col">E-mail</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let admin of admins'>
            <th scope="row">{{admin?.id}}</th>
            <td>{{admin?.firstName | titlecase }} {{admin?.lastName | titlecase }}</td>
            <td>{{admin?.email}}</td>
            <td>
              <span class="material-icons" (click)='openPopup(admin)'>
                edit
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </ng-container>

  </div>
</section>
