@import './variables.scss';
.default-button{
    background: $main-color;
    color: #fff;
    text-transform: capitalize;
    h5{
        color: #fff;
        text-transform: capitalize;
        font-size: $Size16;
        padding: 10px;
        margin-bottom: 0;
    }
}

.cancel-button{
    background: $redColor;
    color: #fff;
    text-transform: capitalize;
    h5{
        color: #fff;
        text-transform: capitalize;
        font-size: $Size16;
        padding: 10px;
        margin-bottom: 0;
    }
}