$main-color: #43359a;
$second-color: #A9ABB2;
$third-color: #292C3B;
$active-card-color: #3DDC97;
$active-color: #256EFF;
$light-gray: #F6F6F6;
$gray: #707070;
$Size35: 35px;
$Size25: 25px;
$Size22: 22px;
$Size20: 20px;
$Size18: 18px;
$Size17: 17px;
$Size16: 16px;
$Size15: 15px;
$Size14: 14px;
$Size13: 13px;
$Size12: 12px;
$Size10: 10px;
$circleBorderRadius: 50%;
$borderRadius: 5px;
$shadow: 0 0 5px rgba(121,121,121,.3);
$transition:all 0.3s ease-in-out;




