@import '../../../../assets/style/shared/variables.scss';

.view-popup {
    h6 {
        color: $third-color;
        font-size: $Size18;
        font-family: 'poppins-bold';
        margin-bottom: 0;
    }

    .close-icon {
        color: $third-color;
        font-size: $Size22;
        cursor: pointer;
    }

    h5 {
        color: $third-color;
        font-size: $Size16;
        font-family: 'poppins-bold';
        text-transform: capitalize;
        span {
            color: $gray;
            font-size: $Size14;
            font-family: 'poppins-bold';
        }
    }
}